.showcase-form {
    position: relative;
    top: 60px;
    height: 371px;
    width: 400px;
    padding: 24px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
    margin: 40px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0px;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;

}


.showcase p {
    margin: 47px 0;
    font-size: 16px;
    line-height: 35px
}

.showcase-form input:focus {
    outline: none;
}

@media(max-width:768px) {

    .grid,
    .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: ifr;

    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

}

/* Animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}